/*

FONTES
Fonte para texto:
    font-family: 'Roboto',
sans-serif;

Fonte para títulos: 
    font-family: 'Open Sans',
sans-serif;

========
CORES
Cor primária: #683AB7
Secundaria 1: #DC367F
Secundaria 2: #327DAD


*/

body {
    margin: 0;
    padding: 0;
    background-color: #edf2f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
#help,
#areaLogin {
    color: #fff
}
#help {
    float: right;
    padding: 15px 20px;
    font-size: 1.4em
}
#help span {
    margin: 0 15px 0 5px;
    padding: 5px 7.5px;
    border-radius: 3px;
    color: #fff;
    background-color: #683AB7;
}

#help a,
#areaLogin a {
    text-decoration: none;
    color: #327DAD;
}
#areaLogin {
    width: 320px;
    height: 405px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -202.5px;
    margin-left: -160px;
    font-size: 1.4em;
    color: #777
}
#areaLogin p {
    text-align: center;
}
#areaLogin a {
    text-align: left;
    display: block;
    padding: 5px 0
}
#logoLogin {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: #DC367F;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: table;
}
#areaLogin ul {
    width: 100%;
}
#areaLogin li {
    float: left;
    width: 30%;
    margin: 1.2%;
    height: 40px;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
}
#areaLogin li:first-child {
    margin-right: 2.5%;
    background-color: #DD4D41;
    background-image: url(../images/iconPlus.png);
    background-size: 30px;
}
#areaLogin li:nth-child(2) {
    background-color: #00aced;
    background-image: url(../images/iconTwitter.png);
    background-size: 30px
}
#areaLogin li:last-child {
    margin-left: 2.5%;
    background-color: #4C6CA6;
    background-image: url(../images/iconFacebook.png);
    background-size: 15px;
}
#areaLogin p:nth-child(4) {
    display: block;
    margin-top: 10px;
}
#areaLogin input {
    width: 92%;
    padding: 5% 3%;
    margin: 3px 0 7.5px 0;
    font-size: 1.2em;
    border: 1px solid #c8c8c8
}
#areaLogin input:focus {
    box-shadow: 0 0 2px #8259CB;
    transition: .3s;
}
#areaLogin input[type='submit'] {
    border: 0;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
    background-color: #683AB7;
}

/*Página de Usuario*/

main,
.wrapper {
    width: 1160px;
    padding: 20px 0;
    margin: 20px auto;
    background-color: #fff;
}
section {
    width: 100%;
    display: table;
    margin: 0 0 5px 0;
    padding: 15px 0;
}
.column {
    float: left;
    background-color: #fff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 1em;
    margin-right: 1.5%;
}
.columnLeft {
    width: 65%;
}
.columnRight {
    width: 25%;
}
#project,
#finance {
    float: left;
    height: 340px;
    padding-top: 25px;
    padding-bottom: 25px;
}
#project {
    background-color: #fff;
}
#projectCover,
#projectInformations {
    float: left;
}
#projectInformations {
    padding: 0 1% 1% 1%;
    margin-left: 1%;
    width: 51%;
}
#projectCover {
    float: left;
    border-radius: 1em;
    width: 45%;
    height: 340px;
    box-shadow: 0 0 3px grey;
    background-color: pink;
}
#projectInformations {
    font-size: 1.15em;
}
#projectInformations {
    margin-left: 15px;
}
#projectInformations h2 {
    margin: 5px 0;
    font-size: 1.6em;
}
#projectInformations h1 {
    margin: 0;
    font-size: 2em;
}
#finance {
    padding: 0 1% 50px 1%;
    position: relative;
    background-color: transparent;
}
#goal h1 {
    font-size: 2.5em;
    margin: 0 0 20px 0;
}
#goal h2 {
    font-size: 1.5em;
    margin: 20px 0;
    padding: 15px 0;
    padding: 0;
}
#goal span {
    font-size: .6em;
    display: block;
}
#finance button {
    width: 80%;
    display: block;
    margin: 0 0 15px 0;
    padding: 10px 5px;
    border-radius: 2em;
    font-size: 1.4em;
    font-weight: bold;
}
#btn_finance {
    background-color: #683AB7;
    color: #fff;
    border: 0;
}
#btn_demo {
    background-color: transparent;
    border: 2px solid #683AB7;
    color: #683AB7;
}
#socialnetwork {
    position: absolute;
    bottom: 0;
}
.socialnetwork {
    margin: 0;
    padding: 0;
}
.socialnetwork li {
    float: left;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    margin: 0 10px
}
#projectDescription ul {
    border-bottom: 3px solid purple;
    width: 103%;
}
#projectDescription li {
    float: left;
    padding: 10px 15px;
    margin: 0 15px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 0 1em 0 0;
}
#projectDescription li:first-child {
    margin-left: 0;
    color: #fff;
    background-color: purple;
}
#info {
    font-size: 1.3em;
    padding: 10px;
}
#reward {
    float: right;
    width: 22%
}
#reward h3,
#reward h4 {
    margin: 0;
}
#reward h3 {
    font-size: 2.7em;
}
.eachReward {
    margin: 10px 0 40px 0;
}
footer {
    width: 100%;
    padding: 15px 0;
    text-align: Center;
    background-color: purple;
}

/* Sign up */

#signup {
    width: 500px;
    padding: 50px 0 10px;
    background-color: #fff;
    border: 3px solid #DC367F;
    position: absolute;
    left: 50%;
    top: 5%;
    margin-left: -250px;
    font-size: 1em;
    display: table;
}
#signupStep {
    width: 60%;
    position: absolute;
    margin: auto;
    height: 50px;
    top: -25px;
    left: 50%;
    margin-left: -150px;
}
.step {
    width: 50px;
    height: 50px;
    background-color: #DC367F;
    border-radius: 50%;
    float: left;
    margin: 0 6.5%;
    border: 5px solid #edf2f5;
}
.step:before {
    content: "1";
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
}
.step:first-child {
    background-color: #683AB7;
}
.step:nth-child(2):before {
    content: "2";
}
.step:last-child:before {
    content: "3";
}
#signup form {
    font-size: 1.4em;
}
#signup input {
    width: 78%;
    margin: 0 5% 15px 5%;
    padding: 2% 20px;
    color: #327DAD
}
#signup input:focus {
    border-left: 5px solid #DC367F;
    transition: .1s;
}
#signup [type='submit'] {
    display: block;
    margin: auto;
    color: #fff;
    border: 0;
    background-color: #094F7D;
    font-size: 1.2em;
}
#signup label {
    margin: 0 0 0 25px;
    background-color: #E55896;
    color: #fff;
    font-weight: bold;
    border-radius: 0 .5em 0 0;
    padding: 5px 10px;
    display: inline-block;
}

/*Profile Page*/

#container {
    width: 100%;
    display: table;
    padding: 0 0 20px 0;
}
#profile,
#pPhoto {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#profile {
    width: 100%;
    padding: 20px 0;
    background-image: url(../images/grimgar.png);
    text-shadow: 0 0 5px #000;
}
#profileInfo {
    width: 1140px;
    padding: 20px 10px;
    margin: auto;
    z-index: 30;
    position: relative;
    display: table;
}
#profileColor {
    width: 100%;
    height: 100%;
    background-color: rgba(241, 5, 82, .4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
#profilePhoto,
#profileDescription {
    float: left;
}
#pPhoto {
    background-image: url(../images/pp.jpg);
    width: 270px;
    height: 250px;
    box-shadow: 0 0 5px #000;
    border-radius: .5em
}
#pProjects ul {
    width: 100%;
    font-size: 1.3em;
    color: #fff;
    font-weight: bold;
}
#pProjects li {
    float: left;
    padding: 10px 0;
    width: 50%;
    text-align: center;
}
#pProjects span {
    font-size: 1.8em;
}
#profileDescription {
    padding: 0 20px;
    color: #fff;
    width: 800px;
    margin-left: 20px;
    height: 270px;
    position: relative;
}
#profileDescription h1 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
}
#profileDescription p {
    font-size: 1.3em;
    width: 95%;
    margin: 0;
    max-height: 150px;
    overflow: hidden;
}
#message {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 40px;
    background-color: #327DAD;
    border-radius: .3em;
    font-weight: bold;
    font-size: 1.3em;
}
.profileCreated {
    margin: 0;
    padding: 0;
}
.profileCreated .wrapper {
    padding: 25px 25px 10px 25px;
}
.profileCreated h1 {
    font-size: 2.5em;
    color: #683AB7;
}
.profileCreated ul {
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #DC367F;
}
.profileCreated li {
    float: left;
    padding: 15px 10px;
    margin: 0 15px;
    font-size: 1.3em;
    font-weight: bold;
    color: #DC367F;
    cursor: pointer;
}
.profileCreated li:first-child {
    background-color: #DC367F;
    color: #fff;
    border-radius: 0 1em 0 0;
}
.profileCreated li:first-child {
    margin-left: 0;
}
.pProjectsCreated {
    width: 100%;
    margin: 5px 0 0 0;
    height: 310px;
    overflow-y: hidden;
    overflow-x: auto;
}
.pProjectsWrapper {
    overflow: hidden;
    height: 300px;
    display: inline-flex;
    position: relative;
}
.eachProject {
    width: 350px;
    height: 270px;
    margin: 15px 20px;
    float: left;
    background-color: #327DAD;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.eachProject:first-child {
    margin-left: 0;
}

/*Explore*/

#searchText {
    padding: 30px 0 50px;
    0;
    background-color: #501AAC;
    color: #fff;
}
#searchText .wrapper {
    background-color: transparent;
    font-size: 1.5em;
    padding: 0;
}
.explore {
    padding: 30px;
    color: #3A0E85;
    margin-top: -40px;
    border-radius: .4em .4em 0 0;
    display: table;
    box-shadow: 0 0 5px #666
}
.explore .eachProject {
    width: 31%;
    margin: 1%;
    height: 450px;
    background-color: transparent;
    border: 1px solid #A484DD;
    border-radius: .4em;
    position: relative;
}
.eachProjectCover {
    width: 100%;
    height: 200px;
    border-radius: .4em .4em 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/grimgar.png);
}
.eachProjectInfo {
    padding: 10px 15px;
    color: #000;
    color: #340434;
    font-size: 1.2em;
}
.eachProjectInfo p:first-child {
    color: #1369A1;
    margin: 0;
    padding: 0;
}
.meta {
    position: absolute;
    bottom: 0;
    width: 96%;
    left: 0;
    padding: 2%;
}
.meta p {
    margin: 5px 0;
}
.eachProjectInfo span:first-child {
    font-size: .9em;
}
.progressbar {
    width: 100%;
    display: block;
    height: 15px;
    border: 1px solid #DC367F;
    position: relative
}
.progressbarvalue {
    width: 90%;
    position: absolute;
    height: 15px;
    background-color: #DC367F;
}
.meta ul {
    width: 100%;
    font-size: 0.8em;
    margin: 5px 0 0 0;
}
.meta li {
    float: left;
}
.meta li:last-child {
    float: right;
}

/*Imagem de usuário*/

header {
    width: 100%;
    padding: 20px 0;
}
header .wrapper {
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
}
.userlogin {
    display: table;
    padding: 10px;
    height: 50px;
    margin: auto;
}
#userloginPhoto,
#userloginName {
    float: left;
    height: 50px;
    margin: 0 10px 0 0;
}
#userloginPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: purple;
}
#userloginName {
    font-size: 1.4em;
    padding: 0px 20px 0 5px;
    font-weight: bold
}

/*CSS da Index */

#intro {
    background-color: #683AB7;
    height: 350px;
    width: 100%;
    text-align: center;
}

#intro h1 {
    color:white;
    margin: auto;
    top: 50%;
    left: 50%;
}

#intro p{
    color: white;
    font-size: 1.5em;
    margin: 0;
}

#searchField{
    color: #683AB7;
    text-align: center;
    margin: 50px;
    font-size: 2.8em;
}

#searchField input{
    width: 50%;
    margin: 3px 0 7.5px 0;
}

